/* Style changes*/
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import "fonts.css";

/* update font variable */
:root {
  --font-family-sans-serif: 'Raleway', -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
  --pst-font-family-base: var(--font-family-sans-serif);
  --pst-background-color: #f5f4e9;
  --font-sans-serif: "Ubuntu", "Source Sans Pro", sans-serif !important;
  --font-monospace: "Fira Code", "Roboto Mono", monospace !important;
}


body:{  
  font-size: 0.9rem;
}

caption-text {
   font-size: 0.9rem;
}


code.literal {
  padding: 2px 4px;
  border-radius: 2px;
  font-family: var(--font-monospace);
  color: #e96900;
  background-color: #f8f8f8;
}

